<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head>
    <title>Admin</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="/">MyRestaurant <span class="sr-only">(current)</span></a>
    </div>
</nav>

<div class="container text-center" style="margin-top: 40px;">

    <h4>Restaurant Booking Software</h4>
    <br><br>
    <h5>Welcome <span th:text="${user}"></span>!</h5>

    <div class="alert alert-success" role="alert" th:if="${success} != null" th:text="${success}">
        SUCCESS
    </div>

    <br><br>
    <form class="form" th:action="@{/myrestaurant/admin}">
        <div class="form-group">
            <label for="date">Date of reservations</label>
            <input type="date" class="form-control" name="date" id="date" aria-describedby="dateHelper" required>
            <small id="dateHelper" class="form-text text-muted">Select the date of reservations you want to manage</small>
        </div>
        <button type="submit" name="send" class="btn btn-primary">Submit</button>
    </form>

    <br><br>

    <h5> Reservations for the day: <span th:text="${date}"> </span></h5>

    <div class="alert alert-warning" role="alert" th:if="${nores} != null" th:text="${nores}">
        NO RES
    </div>

    <div class="table" th:if="${reservations.size()!= 0}" >
    <table class="table table-light">
        <thead class="thead-light">

        <tr>
            <th> Table Number </th>
            <th> Time </th>
            <th> Persons </th>
            <th> Name </th>
            <th> Email </th>
            <th> Telefon </th>
        </tr>

        </thead>

        <tbody th:remove="all-but-first">

        <tr th:each="reservation : ${reservations}" th:object="${reservation}">
            <td th:text="${reservation.getTableNumber()}">4</td>
            <td th:text="${#temporals.format(reservation.getTime(),'HH:mm')}">10:15</td>
            <td th:text="${reservation.getPersons()}">6</td>
            <td th:text="${reservation.getCustomer().name()}">Samer </td>
            <td th:text="${reservation.getCustomer().email()}">samer.osman95@gmail.com</td>
            <td th:text="${reservation.getCustomer().telefonNumber()}">1234567</td>
            <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    Note
                </button>
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="modal-title" id="exampleModalLabel"><span th:text="${reservation.getNote()}"></span></h6>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </td>
            <td>
                <form th:action="@{/myrestaurant/admin/delete/{id}(id=${reservation.getId()})}" method="post">
                    <button type="submit" class="btn btn-danger">Cancel</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    </div>
</div>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>