<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Restaurant Booking</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<style>
    .container {
        max-width: 800px;
    }
</style>
<body>
<nav class="navbar navbar-expand navbar-dark bg-dark">
    <div class="nav navbar-nav">
        <a class="nav-item nav-link active" href="/">MyRestaurant <span class="sr-only">(current)</span></a>
    </div>
</nav>
<div class="container text-center" style="margin-top: 40px;">
    <h4>Restaurant Booking Software</h4>
    <br><br>

    <div class="alert alert-warning" role="alert" th:if="${remember} != null" th:text="${remember}" >
        REMEMBER
    </div>

    <div class="alert alert-danger" role="alert" th:if="${error} != null" th:text="${error}" >
        ERROR
    </div>

    <div class="alert alert-success" role="alert" th:if="${success} != null" th:text="${success}" >
        SUCCESS
    </div>

    <form method="post" class="form" th:object="${form}" th:action="@{/myrestaurant}">
        <div class="form-group">
            <label for="date">Date</label>
            <input type="date" class="form-control" name="date" id="date" aria-describedby="dateHelper" required>
            <small id="dateHelper" class="form-text text-muted">Select the date of your booking</small>
        </div>
        <div class="form-group">
            <label for="persons">Persons</label>
            <input type="number" class="form-control" name="persons" min="1" max="8" id="persons" aria-describedby="personsHelper" required value="4">
            <small id="personsHelper" class="form-text text-muted">Select the number of persons</small>
        </div>
        <div class="form-group">
            <label for="time">Time</label>
            <input type="time" step="3600" min="9:00" max="22:00" class="form-control" name="time" id="time" aria-describedby="timeHelper" required value="10:00">
            <small id="timeHelper" class="form-text text-muted">Select the time</small>
        </div>
        <button type="submit" name="formular" class="btn btn-primary">Submit Data</button>
    </form>
</div>

<div class="container text-center" style="margin-top: 40px;">
        <br>
    <a href="#" class="link-dark" data-toggle="modal" data-target="#exampleModal">Do you want to cancel your Reservation?</a>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel" style="justify-content: center">Enter the code of your reservation to cancel it</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" th:action="@{/myrestaurant/cancel/reservation}">
                    <div class="form-group">
                        <label for="code">You find the code in the confirmation email</label>
                        <input id="code" class="form-control" type="text" name="code" placeholder="d6e0fb72-66bb-46ed-8d52-65a8885efb36" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-warning">Submit</button>
                    </div>
                </form>
            </div>
        </div>
        </div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
